@import '../../core/index';
@import './animations';

@mixin weave-progress {
  @include bg;
  @include position;
}

.weave-progress {
  --bg-color: #{$color-black-10};
  --border-radius: var(--border-radius-default);
  --progress-bar-color: var(--border-accent-color);

  @include weave-progress;
  height: var(--spacing-sm);
  overflow: hidden;
}

.weave-progress--determinate {
  &::after {
    --bg-color: var(--progress-bar-color);
    --position: absolute;

    @include position;
    @include transition(width);
    @include bg;
    content: '';
    top: 0;
    bottom: 0;
  }
}

// Determinite progress bar shows how long a process will take to complete.
// It requires something to control its width as a percentage (up of 100%).
.weave-progress__determinate {
  --bg-color: var(--progress-bar-color);
  --position: absolute;

  @include position;
  @include transition(width);
  @include bg;
  top: 0;
  bottom: 0;
}

.weave-progress__indeterminate {
  &::before,
  &::after {
    --bg-color: var(--progress-bar-color);
    --position: absolute;

    @include position;
    @include bg;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
  }

  &::before {
    animation: weave-indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  }

  &::after {
    animation: weave-indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation-delay: 1.15s;
  }
}
