.bg { @include bg; }
.bg--accent  { --bg-color: var(--accent-color);  }
.bg--neutral { --bg-color: var(--neutral-color); }
.bg--success { --bg-color: var(--success-color); }
.bg--warning { --bg-color: var(--warning-color); }
.bg--info    { --bg-color: var(--info-color);    }
.bg--error   { --bg-color: var(--error-color);   }

.color { @include color; }
.color--accent  { --font-color: var(--text-accent-color);  }
.color--neutral { --font-color: var(--text-neutral-color); }
.color--success { --font-color: var(--text-success-color); }
.color--warning { --font-color: var(--text-warning-color); }
.color--info    { --font-color: var(--text-info-color);    }
.color--error   { --font-color: var(--text-error-color);   }

.border { --border-width: 1px; @include border; }
.border--accent  { --border-color: var(--border-accent-color);  }
.border--neutral { --border-color: var(--border-neutral-color); }
.border--success { --border-color: var(--border-success-color); }
.border--warning { --border-color: var(--border-warning-color); }
.border--info    { --border-color: var(--border-info-color);    }
.border--error   { --border-color: var(--border-error-color);   }
