@mixin weave-utilities {
  // Responsive type sizing utility classes
  .weave-h1 { @include weave-responsive-type('f7', 'f6', 'f5'); }
  .weave-h2 { @include weave-responsive-type('f6', 'f5', 'f4'); }
  .weave-h3 { @include weave-responsive-type('f5', 'f4', 'f3'); }
  .weave-h4 { @include weave-responsive-type('f4', 'f3', 'f2'); }
  .weave-p {  @include weave-responsive-type('f3', 'f2', 'f1'); }
  .weave-p + .weave-p {
    // Add a margin to the top of any paragraph that immediately follows a paragraph
    margin-top: var(--spacing-md);
  }

  // Non-responsive type sizing utility classes
  @each $name in ['f0', 'f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8'] {
    .weave-type-#{$name}           { @include weave-type($name); }
    .weave-line-component-#{$name} { @include weave-line-height($name, false); }
    .weave-line-body-#{$name}      { @include weave-line-height($name, true); }
  }

  %text-center,
  .text-center {
    text-align: center;
  }

  %text-strike,
  .text-strike {
    text-decoration: line-through;
  }

  %text-secondary,
  .text-secondary {
    color: var(--text-secondary-color);
    font-style: italic;
  }
}

@if $weave-utilities--option == true {
  @include weave-utilities;
}
