@keyframes weave-spinner-rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

@keyframes weave-spinner-dash {
 0% { stroke-dashoffset: $spinner-offset; }
 50% {
   stroke-dashoffset: $spinner-offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $spinner-offset;
   transform:rotate(450deg);
 }
}
