@import '../../core/setup/index';

@mixin label {
  // Defaults
  --display-as: inline-flex;
  --bg-color: var(--text-neutral-color);
  --border-radius: var(--border-radius-default);
  --font-color: var(--black);

  // Default to medium size if no modifier added
  @include label-md;
  // Default to neutral decoration if no modifier added
  @include neutral-field;
  @include display-as;
  @include rounded;
  @include bg;
  @include color;
  @include typeset;
  @include py;
  @include px;
}

@mixin label-sm {
  --py: var(--spacing-none);
  --px: var(--spacing-xs);
  --font-size: var(--type-size-f0);
  --line-height: var(--component-line-height-f0);
}

@mixin label-md {
  --py: var(--spacing-xs);
  --px: var(--spacing-sm);
  --font-size: var(--type-size-f1);
  --line-height: var(--component-line-height-f1);
}

@mixin label-lg {
  --py: var(--spacing-sm);
  --px: var(--spacing-md);
  --font-size: var(--type-size-f2);
  --line-height: var(--component-line-height-f2);
}

.weave-label {
  @include label;
}

.weave-label--accent  { @include accent-field; }
.weave-label--success { @include success-field; }
.weave-label--error   { @include error-field; }
.weave-label--info    { @include info-field; }
.weave-label--warning { @include warning-field; }
.weave-label--neutral { @include neutral-field; }

.weave-label--sm { @include label-sm; }
.weave-label--md { @include label-md; }
.weave-label--lg { @include label-lg; }

.weave-label--responsive {
  @include viewport-equal-to-and-smaller-than('full') {
    @include label-lg;
  };

  @include viewport-equal-to-and-smaller-than('lg') {
    @include label-md;
  };

  @include viewport-equal-to-and-smaller-than('sm') {
    @include label-sm;
  };
}
