@import '../../core/setup/index';

// Cards
//
// Cards are contained chunks of content that visually separate content and help
// convey the individual interactivity that a chunk of content might have.
//
// Example:
// <article class="weave-card">...</article>

@mixin card {
  --elevation: var(--elevated-1);
  --border-radius: var(--border-radius-default);
  --bg-color: var(--white);
  --border: var(--border-neutral);

  @include elevated;
  @include rounded;
  @include bg;
}

.weave-card {
  @include card;
}

// .weave-card--hoverable gives the card a higher "elevation" on hover
.weave-card--hoverable {
  @include transition(box-shadow);

  &:hover,
  &:focus {
    --elevation: var(--elevated-2);
  }
}
