// Breakpoints
// Maps the upper and lower bounds for breakpoints.

$breakpoint-map: (
  xs: (
    min-width: 0,
    max-width: 599px
  ),
  sm: (
    min-width: 600px,
    max-width: 767px
  ),
  md: (
    min-width: 768px,
    max-width: 991px
  ),
  lg: (
    min-width: 992px,
    max-width: 1199px
  ),
  xl: (
    min-width: 1200px,
    max-width: 1799px
  ),
  full: (
    min-width: 1800px,
    max-width: null
  )
);

// Includes a block of styles when breakpoint is EQUAL TO AND SMALLER THAN $breakpoint
@mixin viewport-equal-to-and-smaller-than($breakpoint) {
  @if map-has-key($breakpoint-map, $breakpoint) {
    $max-width: map-deep-get($breakpoint-map, $breakpoint, max-width);
    @if ($max-width == null) {
      @content;
    }
    @else {
      @media screen and (max-width: $max-width) {
        @content;
      }
    }
  }
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

// Includes a block of styles when breakpoint is EQUAL TO AND LARGER THAN $breakpoint
@mixin viewport-equal-to-and-larger-than($breakpoint) {
  @if map-has-key($breakpoint-map, $breakpoint) {
    $min-width: map-deep-get($breakpoint-map, $breakpoint, min-width);
    @if ($min-width == 0) {
      @content;
    }
    @else {
      @media screen and (min-width: $min-width) {
        @content;
      }
    }
  }
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}
