// Color palette
$color-mint-dark: #00807A !default;
$color-mint: #00BDB4 !default;
$color-mint-light: #99E5E1 !default;
$color-mint-lightest: #D9F5F4 !default;
$color-watermelon: #F05D61 !default;
$color-watermelon-light: #F6B7B8 !default;
$color-watermelon-lightest: #FCE4E4 !default;
$color-kiwi: #9BC988 !default;
$color-kiwi-light: #D2E6C7 !default;
$color-kiwi-lightest: #EEF6EA !default;
$color-tangerine: #FFB939 !default;
$color-grape: #9575CD !default;
$color-banana: #FFEE7E !default;
$color-banana-light: #FFFAD6 !default;
$color-blueberry: #2079A4 !default;
$color-gray-dark: #303039 !default;
$color-gray: #6C6C7A !default;
$color-gray-light: #D5D5DD !default;
$color-gray-lightest: #F7F7F9 !default;
$color-black: #000000 !default;
$color-black-75: rgba(0, 0, 0, .75) !default;
$color-black-50: rgba(0, 0, 0, .5) !default;
$color-black-25: rgba(0, 0, 0, .25) !default;
$color-black-10: rgba(0, 0, 0, .1) !default;
$color-white: #FFFFFF !default;
$color-white-85: rgba(255, 255, 255, .85) !default;
$color-white-65: rgba(255, 255, 255, .65) !default;
$color-white-40: rgba(255, 255, 255, .4) !default;
$color-white-25: rgba(255, 255, 255, .25) !default;

// Defaults
:root {
  --white: #{$color-white};
  --black: #{$color-black};

  --text-color: #{$color-gray-dark};
  --text-secondary-color: #{$color-gray};
  --text-accent-color: #{$color-mint-dark};
  --text-success-color: #{$color-mint-dark};
  --text-error-color: #{$color-watermelon};
  --text-warning-color: #{$color-watermelon};
  --text-info-color: #{$color-grape};
  --text-neutral-color: #{$color-gray};
  --text-on-dark-bg: var(--white);
  --text-on-light-bg: #{$color-black};

  --link-color: #{$color-blueberry};

  --accent-color: #{$color-mint-dark};
  --success-color: #{$color-kiwi};
  --error-color: #{$color-watermelon};
  --info-color: #{$color-mint-lightest};
  --warning-color: #{$color-banana};
  --neutral-color: #{$color-gray-lightest};
  --callout-color: #{$color-watermelon};
  --callout-secondary-color: #{$color-grape};

  --border-accent-color: #{$color-mint};
  --border-success-color: #{$color-kiwi};
  --border-error-color: #{$color-watermelon};
  --border-info-color: #{$color-mint-lightest};
  --border-warning-color: #{$color-tangerine};
  --border-neutral-color: #{$color-gray-light};

  --bg-transparent-dark: #{$color-black-75};
  --bg-transparent-medium: #{$color-black-50};
  --bg-transparent-light: #{$color-black-25};
  --bg-transparent-lightest: #{$color-black-10};

  --color-neutral-1: #{$color-gray-lightest};
  --color-neutral-2: #{$color-gray-light};
  --color-neutral-3: #{$color-gray};
  --color-neutral-4: #{$color-gray-dark};
}

:root {
  --button-neutral: #{$color-gray};
  --button-neutral-hover: #{lighten($color-gray, 10%)};
  --button-primary: #{$color-blueberry};
  --button-primary-hover: #{lighten($color-blueberry, 10%)};
  --button-secondary: #{$color-white};
  --button-secondary-hover: #{$color-white};
  --button-cta: #{$color-watermelon};
  --button-cta-hover: #{lighten($color-watermelon, 10%)};
  --button-flat: transparent;
  --button-flat-hover: var(--bg-transparent-lightest);
}
