@import '../../core/index';

.weave-box {
  --display-as: flex;
  // --my: var(--spacing-md);
  // --mx: var(--spacing-md);
  --py: var(--spacing-md);
  --px: var(--spacing-md);
  --direction: row;

  @include display-as;
  @include px;
  @include py;
  @include mx;
  @include my;

  display: var(--display-as);
  flex-direction: var(--direction);
}

.weave-box--stacked {
  --direction: column;

  > .weave-box + .weave-box {
    margin-right: 0;
    margin-top: var(--my);
  }
}

.weave-box--fill > .weave-box {
  flex: 1;
}
