@import '../../core/index';

// Collections are groupings of content that are visually contained and organized.
// They are useful for sectioning content in busy layouts.
//
// Example Usage:
// <ul class="weave-collection weave-collection--pad-sm">
//   <li class="weave-collection__item">Some collection item</li>
// </ul>

@mixin weave-collection {
  @include border;
  @include elevated;
  @include rounded;
  @include bg;
  @include unstyled-list;
  padding-left: 0;
}

@mixin weave-collection-sm {
  --py: var(--spacing-sm);
  --px: var(--spacing-sm);
  --font-size: var(--type-size-f1);
  --line-height: var(--component-line-height-f1);
}

@mixin weave-collection-md {
  --py: var(--spacing-md);
  --px: var(--spacing-md);
  --font-size: var(--type-size-f2);
  --line-height: var(--component-line-height-f2);
}

@mixin weave-collection-lg {
  --py: var(--spacing-lg);
  --px: var(--spacing-lg);
  --font-size: var(--type-size-f3);
  --line-height: var(--component-line-height-f3);
}

.weave-collection {
  --border-color: var(--border-neutral-color);
  --py: var(--spacing-md);
  --px: var(--spacing-md);
  --elevation: var(--elevated-0);
  --bg-color: #{$color-white};
  --border-radius: var(--border-radius-default);

  @include weave-collection;
}

.weave-collection__item {
  @include py;
  @include px;
  @include typeset;
}

.weave-collection__item + .weave-collection__item {
  --border-width: 1px 0 0 0;
  @include border;
}

.weave-collection--sm > .weave-collection__item {
  @include weave-collection-sm;
}

.weave-collection--md > .weave-collection__item {
  @include weave-collection-md;
}

.weave-collection--lg > .weave-collection__item {
  @include weave-collection-lg;
}

.weave-collection--hoverable {
  @include transition(background-color);

  &:hover {
    --bg-color: var(--neutral-color);
  }
}

.weave-collection--hoverable > .weave-collection__item {
  &:hover {
    --elevation: var(--elevated-1);
    --bg-color: #{$color-white};
    @include transition(box-shadow);
    @include elevated;
    @include bg;
  }

  &.is-active {
    --elevation: var(--elevated-1);
    --z-index: var(--z-index-1);
    --bg-color: #{$color-black-10};
    @include elevated;
    @include bg;
  }
}

// Status indicators
//<li class="weave-collection__item weave-collection-indicator">
.weave-collection-indicator {
  // Needs to make sure the space is available for the status indicator
  padding-left: var(--spacing-lg) !important;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: var(--spacing-sm);
    bottom: var(--spacing-xs);
    left: var(--spacing-xs);
    top: var(--spacing-xs);
  }
}

.weave-collection-indicator--neutral::before { background-color: var(--neutral-color); }
.weave-collection-indicator--accent::before  { background-color: var(--border-accent-color); }
.weave-collection-indicator--success::before { background-color: var(--border-success-color); }
.weave-collection-indicator--info::before    { background-color: var(--border-info-color); }
.weave-collection-indicator--warning::before { background-color: var(--border-warning-color); }
.weave-collection-indicator--alert::before   { background-color: var(--border-error-color); }
